.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box{
  display: flex;
  flex-wrap: wrap;

}
.movie-info{
  border: 3px solid black;
 
  box-sizing: content-box;
  width: 200px;
  margin: 5px;
  padding: 5px;
  
}
.img{
  width: 200px;
  height: 150px;
}
.search-field{
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /*position: fixed;
  top: 0;*/
  overflow: hidden;
  background-color: #333;
}
.search-input{
  text-align: center;
  border-radius: 30px;
 /* margin: 40px;
  padding: 30px;*/
  height: 30px;
}

.app-name{
  font-size: 30px;
  text-align: center;
  color: aliceblue;
 /* margin: 20px;
  padding: 20px;*/
  
}
.sort-by{
 
 /*margin: 45px;*/
  height: 30px;
  border-radius: 10px;
  color: black;
  background-color: aqua;
  
}
.movie-info-box{
  display: flex;
  justify-content: space-around;
  border : 2px solid black;
  margin: 5px;
  padding: 5px;
}
.info-image{
  height: 300px;
  width: 300px;
  margin: 20px 0px;
  padding: 20px 0px;
}
.info-details{
  margin: 20px 0px;
  padding: 20px 0px;
}
.info-img
{
  height: 300px;
  width: 300px;
}
.info{
  margin: 5px;
}
.close-btn{
  height: 25px;
  float: right;
  margin: 20px;
}